<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>首页</h1>
{% if user %}
<p>欢迎：{{ user.username }}---<a href="{{ url_for('user.logout') }}">退出</a>----<a href="{{ url_for('user.user_center') }}">用户中心</a>----<a href="{{ url_for('user.publish') }}">发表文章</a></p>
{% else %}
    <a href="{{ url_for('user.login') }}">登录</a>--
    <a href="{{ url_for('user.register') }}">注册</a>
{% endif %}

<hr>
<h1>文章</h1>
{% for article in page.items %}  {# 遍历分页对象 #}
<h3>{{ article.title }}</h3>
<div><a href="{{ url_for('app.detail') }}?id={{ article.id }}">{{ article.content | safe | cut_off }}</a></div>  {# 文章详情 #}
<div>
    <span>发布时间：{{ article.create_time }}</span>
    -----<span>浏览量：{{ article.click_num }}</span>
    -------<span>作者：{{ article.user.username }}</span>
    -------<span>收藏：{{ article.save_num }}</span>
    -------<span>点赞：{{ article.love_num }}</span>
    -------<span>文章类型：{{ article.article_type.type_name }}</span>
</div>

<!--    {% for comment in article.comments %}-->
<!--        <p>张三：{{ comment.content }}&#45;&#45;&#45;&#45;{{ comment.create_time }}&#45;&#45;&#45;&#45;</p>-->
<!--    {% endfor %}-->
<hr>
{% endfor %}


<br>
{# 分页开始 #}
{% if page.has_prev %}
<a href="{{ url_for('app.index') }}?page={{ page.prev_num }}">上一页</a>
{% endif %}

{% for page_num in range(1, page.pages + 1) %}  {# 使用range函数 #}
<a href="{{ url_for('app.index') }}?page={{ page_num }}">{{ page_num }}</a>
{% endfor %}

{% if page.has_next %}
<a href="{{ url_for('app.index') }}?page={{ page.next_num }}">下一页</a>
{% endif %}

<span>共{{ page.pages }}页</span>
{# 分页结束 #}
</body>
</html>