<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>  <!-- jquery -->
    <title>Title</title>
</head>
<body>
<h1>{{ article.title }}</h1>
<p>作者：{{ article.user.username }} 发布时间：<i>{{ article.create_time }}</i></p>
<div>{{ article.content | safe }}</div>
<div>
    <a>浏览：<span id="click_num">{{ article.click_num }}</span></a> &nbsp;
    <a>收藏：<span id="save_num">{{ article.save_num }}</span></a> &nbsp;
    <a href="javascript:;" id="love_num">点赞：<span>{{ article.love_num }}</span></a>
</div>


<script>
    let tag = 1;  // 一个标识，点赞后变为0
    $('#love_num').click(function(){
        let $this = $(this);
        // 点赞     路径                          参数                    回调函数
        $.get('{{ url_for('app.love_num') }}', {aid:{{ article.id }}, tag:tag}, function(data){
            if(data.code==200){
                $this.children('span').text(data.num);
                $this.css({'color':'red'});  // 点击后变成红色
                tag = 0;
            };
        });
    });
</script>
</body>
</html>