<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .icon{
            width: 90px;
            height: 100px;
        }
    </style>
</head>
<body>
<h1>个人中心</h1>
<!--{{ g.user.username }}  {# g对象 #}-->
<!--<br>-->
<!--{{ user.username }}-->

<form action="" method="post" enctype="multipart/form-data">   {# enctype: 上传文件要用 #}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <p>用户名：<input type="text" name="username" value="{{ user.username }}"></p>
    <p>密码：<input type="password" name="password"></p>
    <p>电话：<input type="text" value="{{ user.phone }}" name="phone"></p>
    <p><input type="file" name="icon"></p>
    {% if user.icon %}  {# 如果用户有上传头像则显示，没有就显示系统默认头像 #}
        <img  class="icon" src="{{ url_for('static', filename=user.icon) }}" alt="头像">
    <br>{{ user.icon }}
    {% else %}
        <img  class="icon" src="{{ url_for('static', filename='upload/icon/default_icon.jpg') }}" alt="头像">
    {% endif %}
    <p><input type="submit" value="提交修改"></p>
    <h2>{{ msg }}</h2>
</form>
</body>
</html>