<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {# 加载静态文件 #}
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">  {# 静态文件 #}-->
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<h1>主页</h1>
{% if content.name %}  {# 判断 #}
    <h3>用户：{{ content.name }}----{{ content.get('name') }}</h3>  {# 字典渲染:可以用python的代码get() #}
{% endif %}

<h3>名字列表：{{ content.names.0 }}</h3>  {# 列表可以用点后面数字的方法取 #}

<ul>
{% for i in content.names %}   {# 循环 #}
    {% if i | length > 3 %}    {# 判断长度 #}
      <li>{{ loop.index }}、{{ i }}</li>  {# loop属性：loop.index0,表示从零开始 #}
    {% else %}
        <i>{{ loop.index0 }}、{{ i }}</i>
    {% endif %}
{% endfor %}
</ul>

<p>共{{ content.names | count }}个</p>  {# 过滤器count：计数 #}

<img src="{{ url_for('static', filename='images/11.jpg') }}" alt="">  {# 静态文件 #}

{% include 'register.html' %}   {# 包含 #}


{# 导入宏 #}
{% import 'macro/macro.html' as func %}
{{ func.form('', value='提交') }}

{# 声明一个变量然后使用 #}
{% set username='张三' %}
{{ username }}

{# 声明局部变量，只能在里面使用 #}
{% with num=1000 %}
    {{ num }}
{% endwith %}

</body>
</html>